<div class="card top-space">
    <div flex-container="row">
    	<div class="card__img card__img--left" style="height: 160px">
    		<img src="imgs/user.jpg">
		</div>
		
			<div>
            	
            </div>

            <div flex-item flex-container="column">
            	<p>------------------------------------------------------------------------------------------------------------------------------------------------------</p>
                <div flex-item style="margin-left: 10px;margin-top: 18px;">
                    <div class="p+">
                    	<strong class="fs-headline display-block">{{user.name}}</strong>
            			<span class="fs-subhead tc-black-2 display-block">{{user.email}}</span>
                    </div>
                </div>
                <p>------------------------------------------------------------------------------------------------------------------------------------------------------</p>
            </div>
	</div>
</div>